Software/buttons/bed
[
    {
        "id": "d63b795fb02b84d4",
        "type": "switch",
        "z": "7894f310915e8e79",
        "name": "Нажатие",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "single",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 280,
        "y": 80,
        "wires": [
            [
                "f9d9f2958d7a9140"
            ]
        ]
    },
    {
        "id": "5a381d1d3b5a3ad3",
        "type": "server-state-changed",
        "z": "7894f310915e8e79",
        "name": "Кнопка в прихожей",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.knopka_v_prikhozhei_action",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 80,
        "wires": [
            [
                "d63b795fb02b84d4"
            ]
        ]
    },
    {
        "id": "f9d9f2958d7a9140",
        "type": "api-call-service",
        "z": "7894f310915e8e79",
        "name": "свет выкл",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.ves_svet"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 430,
        "y": 80,
        "wires": [
            [
                "79fa88311c194cb8"
            ]
        ]
    },
    {
        "id": "29155b39e415e561",
        "type": "api-call-service",
        "z": "7894f310915e8e79",
        "name": "Пк сон",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "debugenabled": false,
        "domain": "button",
        "service": "press",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "button.pc_sleep"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 810,
        "y": 220,
        "wires": [
            [
                "612266cda5cef02a"
            ]
        ]
    },
    {
        "id": "68b649cb62166f1e",
        "type": "api-call-service",
        "z": "7894f310915e8e79",
        "name": "Проектор выкл",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "debugenabled": false,
        "domain": "remote",
        "service": "send_command",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "remote.pult"
        ],
        "data": "{\"device\":\"projector\",\"command\":\"power\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 680,
        "y": 280,
        "wires": [
            [
                "58e7e10b48d0433a"
            ]
        ]
    },
    {
        "id": "6b6192dea19f3d98",
        "type": "api-current-state",
        "z": "7894f310915e8e79",
        "name": "Проектор включен",
        "server": "d1cf8bd60e4ddc69",
        "version": 3,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "device_tracker.d0_a4_6f_c7_9e_98",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 490,
        "y": 280,
        "wires": [
            [
                "68b649cb62166f1e"
            ],
            []
        ]
    },
    {
        "id": "74413a0c0ab65e8d",
        "type": "api-call-service",
        "z": "7894f310915e8e79",
        "name": "ok",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "debugenabled": false,
        "domain": "remote",
        "service": "send_command",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "remote.pult"
        ],
        "data": "{\"device\":\"projector\",\"command\":\"ok\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1110,
        "y": 280,
        "wires": [
            [
                "66a4a67eb73aac36"
            ]
        ]
    },
    {
        "id": "58e7e10b48d0433a",
        "type": "delay",
        "z": "7894f310915e8e79",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 970,
        "y": 280,
        "wires": [
            [
                "74413a0c0ab65e8d"
            ]
        ]
    },
    {
        "id": "79fa88311c194cb8",
        "type": "api-call-service",
        "z": "7894f310915e8e79",
        "name": "Муз стоп",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "debugenabled": false,
        "domain": "media_player",
        "service": "media_pause",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "media_player.yandex_station_643078e44124642a06d0",
            "media_player.yandex_station_u00g79300m738k",
            "media_player.yandex_station_ff98f0298db423d52af3700a"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 580,
        "y": 80,
        "wires": [
            [
                "1708414f1266838c"
            ]
        ]
    },
    {
        "id": "51fde3719b4b0c75",
        "type": "comment",
        "z": "7894f310915e8e79",
        "name": "Выключение всего когда все ушли",
        "info": "",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "8b58ef108b26fa04",
        "type": "comment",
        "z": "7894f310915e8e79",
        "name": "Отправляемся спать",
        "info": "",
        "x": 120,
        "y": 180,
        "wires": []
    },
    {
        "id": "a5cb7cc83f31a8a7",
        "type": "server-state-changed",
        "z": "7894f310915e8e79",
        "name": "Кнопка у кровати",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.knopka_u_krovati_action",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 220,
        "wires": [
            [
                "451efa5d9c1f3e58"
            ]
        ]
    },
    {
        "id": "451efa5d9c1f3e58",
        "type": "switch",
        "z": "7894f310915e8e79",
        "name": "Нажатие",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "single",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 300,
        "y": 220,
        "wires": [
            [
                "2fca042c24e703ef",
                "6b6192dea19f3d98"
            ]
        ]
    },
    {
        "id": "2fca042c24e703ef",
        "type": "api-call-service",
        "z": "7894f310915e8e79",
        "name": "Весь свет выкл",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.ves_svet"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 480,
        "y": 220,
        "wires": [
            [
                "3db4241047f137ac"
            ]
        ]
    },
    {
        "id": "3db4241047f137ac",
        "type": "api-call-service",
        "z": "7894f310915e8e79",
        "name": "Муз стоп",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "debugenabled": false,
        "domain": "media_player",
        "service": "media_pause",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "media_player.yandex_station_643078e44124642a06d0",
            "media_player.yandex_station_u00g79300m738k",
            "media_player.yandex_station_ff98f0298db423d52af3700a"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 660,
        "y": 220,
        "wires": [
            [
                "29155b39e415e561"
            ]
        ]
    },
    {
        "id": "0e0f13fbbb18543b",
        "type": "server-state-changed",
        "z": "7894f310915e8e79",
        "name": "Кнопка интерфейс. Сон",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "input_button.son",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 260,
        "wires": [
            [
                "2fca042c24e703ef",
                "6b6192dea19f3d98"
            ]
        ]
    },
    {
        "id": "e712834d7851ddcc",
        "type": "server-state-changed",
        "z": "7894f310915e8e79",
        "name": "Кнопка у кровати",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.knopka_u_krovati_action",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 460,
        "wires": [
            [
                "04b1ad0e68b78320"
            ]
        ]
    },
    {
        "id": "04b1ad0e68b78320",
        "type": "switch",
        "z": "7894f310915e8e79",
        "name": "Двойное нажатие",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "double",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 460,
        "wires": [
            [
                "2c35d448ae718c6a",
                "e15dcfc12fda4793"
            ]
        ]
    },
    {
        "id": "7bef184638fd6cb7",
        "type": "comment",
        "z": "7894f310915e8e79",
        "name": "Смотрим кино",
        "info": "",
        "x": 100,
        "y": 420,
        "wires": []
    },
    {
        "id": "2c35d448ae718c6a",
        "type": "api-call-service",
        "z": "7894f310915e8e79",
        "name": "Весь свет выкл",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.ves_svet"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 540,
        "y": 460,
        "wires": [
            [
                "d9e9569904cb5750"
            ]
        ]
    },
    {
        "id": "d9e9569904cb5750",
        "type": "api-call-service",
        "z": "7894f310915e8e79",
        "name": "Муз стоп",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "debugenabled": false,
        "domain": "media_player",
        "service": "media_pause",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "media_player.yandex_station_643078e44124642a06d0",
            "media_player.yandex_station_u00g79300m738k",
            "media_player.yandex_station_ff98f0298db423d52af3700a"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 720,
        "y": 460,
        "wires": [
            [
                "1724dbcaf9baae6a"
            ]
        ]
    },
    {
        "id": "1724dbcaf9baae6a",
        "type": "api-call-service",
        "z": "7894f310915e8e79",
        "name": "монитор сон",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "debugenabled": false,
        "domain": "button",
        "service": "press",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "button.pc_monitorsleep"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1050,
        "y": 460,
        "wires": [
            [
                "1708414f1266838c"
            ]
        ]
    },
    {
        "id": "e15dcfc12fda4793",
        "type": "api-current-state",
        "z": "7894f310915e8e79",
        "name": "Проектор включен",
        "server": "d1cf8bd60e4ddc69",
        "version": 3,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "device_tracker.d0_a4_6f_c7_9e_98",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 550,
        "y": 500,
        "wires": [
            [],
            [
                "f62b8b47792962e2"
            ]
        ]
    },
    {
        "id": "f62b8b47792962e2",
        "type": "api-call-service",
        "z": "7894f310915e8e79",
        "name": "Проектор вкл",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "debugenabled": false,
        "domain": "remote",
        "service": "send_command",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "remote.pult"
        ],
        "data": "{\"device\":\"projector\",\"command\":\"power\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 740,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "f23fe783ed5936a0",
        "type": "server-state-changed",
        "z": "7894f310915e8e79",
        "name": "Кнопка интерфейс. Проектор",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "input_button.proektor_vkl",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 140,
        "y": 580,
        "wires": [
            [
                "c6c40867145de784"
            ]
        ]
    },
    {
        "id": "739dc9d9732b0513",
        "type": "server-state-changed",
        "z": "7894f310915e8e79",
        "name": "Кнопка интерфейс. Кино",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "input_button.kino",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 500,
        "wires": [
            [
                "2c35d448ae718c6a",
                "e15dcfc12fda4793"
            ]
        ]
    },
    {
        "id": "c6c40867145de784",
        "type": "api-current-state",
        "z": "7894f310915e8e79",
        "name": "Проектор включен",
        "server": "d1cf8bd60e4ddc69",
        "version": 3,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "device_tracker.d0_a4_6f_c7_9e_98",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 390,
        "y": 580,
        "wires": [
            [
                "4a8a167969f6c7bf"
            ],
            [
                "9e84be4dcfbe4bad"
            ]
        ]
    },
    {
        "id": "9e84be4dcfbe4bad",
        "type": "api-call-service",
        "z": "7894f310915e8e79",
        "name": "Проектор вкл",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "debugenabled": false,
        "domain": "remote",
        "service": "send_command",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "remote.pult"
        ],
        "data": "{\"device\":\"projector\",\"command\":\"power\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 580,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "4a8a167969f6c7bf",
        "type": "api-call-service",
        "z": "7894f310915e8e79",
        "name": "Проектор выкл",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "debugenabled": false,
        "domain": "remote",
        "service": "send_command",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "remote.pult"
        ],
        "data": "{\"device\":\"projector\",\"command\":\"power\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 580,
        "y": 560,
        "wires": [
            [
                "e5faac52e2869352"
            ]
        ]
    },
    {
        "id": "e5faac52e2869352",
        "type": "delay",
        "z": "7894f310915e8e79",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 750,
        "y": 560,
        "wires": [
            [
                "2b78776ab7d81b37"
            ]
        ]
    },
    {
        "id": "2b78776ab7d81b37",
        "type": "api-call-service",
        "z": "7894f310915e8e79",
        "name": "ok",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "debugenabled": false,
        "domain": "remote",
        "service": "send_command",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "remote.pult"
        ],
        "data": "{\"device\":\"projector\",\"command\":\"ok\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 890,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "c520523c8e155aae",
        "type": "server-state-changed",
        "z": "7894f310915e8e79",
        "name": "Кнопка у кровати",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.knopka_u_krovati_action",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 740,
        "wires": [
            [
                "7150e49b446f95eb"
            ]
        ]
    },
    {
        "id": "7150e49b446f95eb",
        "type": "switch",
        "z": "7894f310915e8e79",
        "name": "Удержание",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "hold",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 740,
        "wires": [
            [
                "a273551ccc39b2ed"
            ]
        ]
    },
    {
        "id": "f6ee308b8018d316",
        "type": "comment",
        "z": "7894f310915e8e79",
        "name": "Любим друг друга",
        "info": "",
        "x": 110,
        "y": 700,
        "wires": []
    },
    {
        "id": "a273551ccc39b2ed",
        "type": "api-call-service",
        "z": "7894f310915e8e79",
        "name": "Весь свет выкл",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.ves_svet"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 500,
        "y": 740,
        "wires": [
            [
                "939c88c0226dfca5"
            ]
        ]
    },
    {
        "id": "939c88c0226dfca5",
        "type": "api-call-service",
        "z": "7894f310915e8e79",
        "name": "Музыка для ебли",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "debugenabled": false,
        "domain": "media_player",
        "service": "play_media",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "media_player.yandex_station_643078e44124642a06d0"
        ],
        "data": "{\"media_content_id\":\"Включи романтическую музыку\",\"media_content_type\":\"command\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 710,
        "y": 740,
        "wires": [
            [
                "46d1b3791e5b4de4"
            ]
        ]
    },
    {
        "id": "7b2d6f405928f7a2",
        "type": "api-call-service",
        "z": "7894f310915e8e79",
        "name": "Пк сон",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "debugenabled": false,
        "domain": "button",
        "service": "press",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "button.pc_sleep"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1090,
        "y": 740,
        "wires": [
            [
                "66a4a67eb73aac36"
            ]
        ]
    },
    {
        "id": "3108c18ab3352c4b",
        "type": "server-state-changed",
        "z": "7894f310915e8e79",
        "name": "Кнопка интерфейс. Любовь",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "input_button.liubov",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 140,
        "y": 780,
        "wires": [
            [
                "a273551ccc39b2ed"
            ]
        ]
    },
    {
        "id": "66a4a67eb73aac36",
        "type": "api-call-service",
        "z": "7894f310915e8e79",
        "name": "Сцены выкл",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.stseny"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1330,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "46d1b3791e5b4de4",
        "type": "api-call-service",
        "z": "7894f310915e8e79",
        "name": "ТВ выкл",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "debugenabled": false,
        "domain": "media_player",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "media_player.mibox4"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 900,
        "y": 740,
        "wires": [
            [
                "7b2d6f405928f7a2"
            ]
        ]
    },
    {
        "id": "612266cda5cef02a",
        "type": "api-call-service",
        "z": "7894f310915e8e79",
        "name": "Увлажнитель выкл",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "debugenabled": false,
        "domain": "humidifier",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "humidifier.zhimi_cb1_7ae3_humidifier"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1070,
        "y": 220,
        "wires": [
            [
                "1708414f1266838c"
            ]
        ]
    },
    {
        "id": "1708414f1266838c",
        "type": "api-current-state",
        "z": "7894f310915e8e79",
        "name": "Mibox включен",
        "server": "d1cf8bd60e4ddc69",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "media_player.mibox4",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1320,
        "y": 220,
        "wires": [
            [
                "1ea2c90ad1ebdd54"
            ],
            []
        ]
    },
    {
        "id": "bbcdc5f416508720",
        "type": "api-call-service",
        "z": "7894f310915e8e79",
        "name": "ТВ выкл",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "debugenabled": false,
        "domain": "remote",
        "service": "send_command",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "remote.pult"
        ],
        "data": "{\"device\":\"TV\",\"command\":\"power\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1480,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "1ea2c90ad1ebdd54",
        "type": "api-call-service",
        "z": "7894f310915e8e79",
        "name": "mibox выкл",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "debugenabled": false,
        "domain": "media_player",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "media_player.mibox4"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1490,
        "y": 220,
        "wires": [
            [
                "bbcdc5f416508720"
            ]
        ]
    },
    {
        "id": "d1cf8bd60e4ddc69",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    }
]
