Software/vacuum
[
    {
        "id": "595811892e5e2c16",
        "type": "api-call-service",
        "z": "0a9d7a275d88172e",
        "name": "Уборка",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "debugenabled": false,
        "domain": "vacuum",
        "service": "start",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "vacuum.rockrobo_v1_53e7_robot_cleaner"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 640,
        "y": 220,
        "wires": [
            [
                "1e25fb446b845e09"
            ]
        ]
    },
    {
        "id": "f1990c55251937b6",
        "type": "time-range-switch",
        "z": "0a9d7a275d88172e",
        "name": "",
        "lat": "58.602",
        "lon": "49.574",
        "startTime": "10:00",
        "endTime": "20:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 370,
        "y": 160,
        "wires": [
            [
                "cd715f8d31a1f9dd"
            ],
            []
        ]
    },
    {
        "id": "1e25fb446b845e09",
        "type": "api-call-service",
        "z": "0a9d7a275d88172e",
        "name": "Уведомление",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "chat_tg",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"Запускаю пылесос\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 620,
        "y": 280,
        "wires": [
            [
                "bc8a1952f0e3f5f0"
            ]
        ]
    },
    {
        "id": "06bec91f1c45503c",
        "type": "server-state-changed",
        "z": "0a9d7a275d88172e",
        "name": "Мы не дома?",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "ca8a78e83406cfe4",
        "entityId": "group.family",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "not_home",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "30",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 150,
        "y": 160,
        "wires": [
            [
                "f1990c55251937b6"
            ],
            []
        ]
    },
    {
        "id": "bc8a1952f0e3f5f0",
        "type": "api-call-service",
        "z": "0a9d7a275d88172e",
        "name": "Пылесосил сегодня вкл",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.pylesos_pylesosil_segodnia"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 970,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "60d9055edc83b21f",
        "type": "comment",
        "z": "0a9d7a275d88172e",
        "name": "Приборка когда все ушли",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "cd715f8d31a1f9dd",
        "type": "api-current-state",
        "z": "0a9d7a275d88172e",
        "name": "Не пылесосил сегодня?",
        "server": "d1cf8bd60e4ddc69",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.pylesos_pylesosil_segodnia",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 630,
        "y": 100,
        "wires": [
            [
                "ddb6705b255fa6cf"
            ],
            []
        ]
    },
    {
        "id": "ddb6705b255fa6cf",
        "type": "api-current-state",
        "z": "0a9d7a275d88172e",
        "name": "Надо вытряхнуть?",
        "server": "d1cf8bd60e4ddc69",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.konteiner_pylesos",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 610,
        "y": 160,
        "wires": [
            [
                "595811892e5e2c16"
            ],
            []
        ]
    },
    {
        "id": "f9d5fa33968e0f7a",
        "type": "api-current-state",
        "z": "0a9d7a275d88172e",
        "name": "Кто-то из нас дома?",
        "server": "d1cf8bd60e4ddc69",
        "version": 3,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "group.family",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 340,
        "y": 100,
        "wires": [
            [],
            [
                "f1990c55251937b6"
            ]
        ]
    },
    {
        "id": "46e18dd3aec50fb3",
        "type": "mqtt out",
        "z": "0a9d7a275d88172e",
        "name": "",
        "topic": "vacuum/counter",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "05243882f0f347ef",
        "x": 700,
        "y": 420,
        "wires": []
    },
    {
        "id": "4e1f5108b875188f",
        "type": "function",
        "z": "0a9d7a275d88172e",
        "name": "+1",
        "func": "// Получаем входное значение из payload\nconst inputValue = parseInt(msg.payload);\n\n// Прибавляем 1 и возвращаем результат в payload\nmsg.payload = inputValue + 1;\n\n// Возвращаем измененное сообщение\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 420,
        "wires": [
            [
                "46e18dd3aec50fb3"
            ]
        ]
    },
    {
        "id": "e0cf838723cdd3a6",
        "type": "api-current-state",
        "z": "0a9d7a275d88172e",
        "name": "Счётчик приборок",
        "server": "d1cf8bd60e4ddc69",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.vacuum_counter",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 330,
        "y": 420,
        "wires": [
            [
                "4e1f5108b875188f"
            ]
        ]
    },
    {
        "id": "7bec3e930aa03d3c",
        "type": "comment",
        "z": "0a9d7a275d88172e",
        "name": "Контейнер у пылесоса",
        "info": "",
        "x": 120,
        "y": 360,
        "wires": []
    },
    {
        "id": "9a33b802ab9750d2",
        "type": "server-state-changed",
        "z": "0a9d7a275d88172e",
        "name": "Приборка",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "vacuum.rockrobo_v1_53e7_robot_cleaner",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "cleaning",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "3",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 80,
        "y": 420,
        "wires": [
            [
                "e0cf838723cdd3a6"
            ],
            []
        ]
    },
    {
        "id": "735414135b9ef6ef",
        "type": "server-state-changed",
        "z": "0a9d7a275d88172e",
        "name": "Сброс счётчика",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "input_boolean.konteiner_pylesos",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "off",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "0",
                "valueType": "num"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 480,
        "y": 460,
        "wires": [
            [
                "46e18dd3aec50fb3"
            ],
            []
        ]
    },
    {
        "id": "cd9e0fa32671792b",
        "type": "server-state-changed",
        "z": "0a9d7a275d88172e",
        "name": "4 прибороки",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.vacuum_counter",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "4",
        "ifStateType": "num",
        "ifStateOperator": "gte",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 90,
        "y": 520,
        "wires": [
            [
                "68e29de103ed654b"
            ],
            []
        ]
    },
    {
        "id": "68e29de103ed654b",
        "type": "api-call-service",
        "z": "0a9d7a275d88172e",
        "name": "надо вытряхнуть",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.konteiner_pylesos"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 290,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "f8d274b2cedfae38",
        "type": "inject",
        "z": "0a9d7a275d88172e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 10 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 950,
        "y": 160,
        "wires": [
            [
                "bc8a1952f0e3f5f0"
            ]
        ]
    },
    {
        "id": "c8969c054a8187ab",
        "type": "ha-time",
        "z": "0a9d7a275d88172e",
        "name": "Время приборки",
        "server": "d1cf8bd60e4ddc69",
        "version": 3,
        "exposeAsEntityConfig": "ca8a78e83406cfe4",
        "entityId": "input_datetime.priborka",
        "property": "state",
        "offset": "0",
        "offsetType": "num",
        "offsetUnits": "minutes",
        "randomOffset": false,
        "repeatDaily": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "sunday": true,
        "monday": true,
        "tuesday": true,
        "wednesday": true,
        "thursday": true,
        "friday": true,
        "saturday": true,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "f9d5fa33968e0f7a"
            ]
        ]
    },
    {
        "id": "d1cf8bd60e4ddc69",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    },
    {
        "id": "ca8a78e83406cfe4",
        "type": "ha-entity-config",
        "server": "d1cf8bd60e4ddc69",
        "deviceConfig": "",
        "name": "ha_clean_leave",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            {
                "property": "name",
                "value": "ha_clean_leave"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "switch"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "05243882f0f347ef",
        "type": "mqtt-broker",
        "name": "",
        "broker": "core-mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]
