Software/climate/heating
[{"id":"f85869c925ea952e","type":"server-state-changed","z":"3f4850b460751c06","name":"час до будильника Артём","server":"d1cf8bd60e4ddc69","version":5,"outputs":2,"exposeAsEntityConfig":"3c43ec147793471d","entityId":"sensor.minut_do_budilnika","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"60","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":1320,"wires":[["15b8df36a77be6d3"],[]]},{"id":"26c1fed36f6bdf4c","type":"api-current-state","z":"3f4850b460751c06","name":"Рабочий день?","server":"d1cf8bd60e4ddc69","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.workday_sensor","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":580,"y":1400,"wires":[["3f2244d7894d1e98"],[]]},{"id":"0e6bae091526707b","type":"api-current-state","z":"3f4850b460751c06","name":"Кто-то из нас дома?","server":"d1cf8bd60e4ddc69","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.family","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":380,"y":1400,"wires":[["26c1fed36f6bdf4c"],[]]},{"id":"720a498d6db437d5","type":"comment","z":"3f4850b460751c06","name":"Система отопления","info":"****","x":110,"y":1140,"wires":[]},{"id":"bb3fde91f8bdbf0e","type":"server-state-changed","z":"3f4850b460751c06","name":"Кто-то из нас дома","server":"d1cf8bd60e4ddc69","version":5,"outputs":2,"exposeAsEntityConfig":"8ba7e83daed5dc46","entityId":"group.family","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"home","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":1780,"wires":[["d393e491a02eb457"],["784b436ca21ce364"]]},{"id":"7e5f34016f8dd436","type":"comment","z":"3f4850b460751c06","name":"Поднятие температуры с утра","info":"","x":150,"y":1280,"wires":[]},{"id":"05e701804c59ed3c","type":"server-state-changed","z":"3f4850b460751c06","name":"Сон","server":"d1cf8bd60e4ddc69","version":5,"outputs":2,"exposeAsEntityConfig":"79c235eb1eaa2d4a","entityId":"input_boolean.rezhim_son","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":70,"y":1640,"wires":[["80d680e0c4fda94b"],[]]},{"id":"3b0f184907d95421","type":"comment","z":"3f4850b460751c06","name":"Понижение температуры во время сна","info":"","x":180,"y":1560,"wires":[]},{"id":"937f20a74a6b35b8","type":"comment","z":"3f4850b460751c06","name":"Управление температурой когда дома никого","info":"","x":200,"y":1700,"wires":[]},{"id":"f0ef63101dd7a006","type":"server-state-changed","z":"3f4850b460751c06","name":"Комната температура","server":"d1cf8bd60e4ddc69","version":5,"outputs":2,"exposeAsEntityConfig":"8456f6b694f4115e","entityId":"sensor.temperatura_i_vlazhnost_komnata_temperature","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"26.8","ifStateType":"num","ifStateOperator":"gte","outputOnlyOnStateChange":true,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":1180,"wires":[["fd4a4a9b6a54afa0"],[]]},{"id":"1da1595a9ea2267e","type":"api-current-state","z":"3f4850b460751c06","name":"включено отопление?","server":"d1cf8bd60e4ddc69","version":3,"outputs":2,"halt_if":"heat","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.termostat","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":1220,"wires":[[],["4d3991c765cdbb73"]]},{"id":"2226707afb3a28d9","type":"api-call-service","z":"3f4850b460751c06","name":"Отопление выкл","server":"d1cf8bd60e4ddc69","version":5,"debugenabled":false,"domain":"climate","service":"turn_off","areaId":[],"deviceId":[],"entityId":["climate.termostat"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":1180,"wires":[[]]},{"id":"fd4a4a9b6a54afa0","type":"api-current-state","z":"3f4850b460751c06","name":"включено отопление?","server":"d1cf8bd60e4ddc69","version":3,"outputs":2,"halt_if":"heat","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.termostat","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":1180,"wires":[["2226707afb3a28d9"],[]]},{"id":"4d3991c765cdbb73","type":"api-call-service","z":"3f4850b460751c06","name":"Отопление вкл","server":"d1cf8bd60e4ddc69","version":5,"debugenabled":false,"domain":"climate","service":"turn_on","areaId":[],"deviceId":[],"entityId":["climate.termostat"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":1240,"wires":[[]]},{"id":"bbe09e64a4f914de","type":"api-current-state","z":"3f4850b460751c06","name":"отопление день","server":"d1cf8bd60e4ddc69","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.otoplenie_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":1320,"wires":[["d755b8d9c0f6042d"]]},{"id":"d755b8d9c0f6042d","type":"function","z":"3f4850b460751c06","name":"Установить температуру","func":"// Передаем температуру в службу установки температуры\nmsg.payload = {\n    domain: \"climate\",\n    service: \"set_temperature\",\n    data: {\n        entity_id: \"climate.otoplenie\",\n        temperature: parseFloat(msg.payload)\n    }\n};\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":1320,"wires":[["ef54a3e4e742e812"]]},{"id":"ef54a3e4e742e812","type":"api-call-service","z":"3f4850b460751c06","name":"Температура день","server":"d1cf8bd60e4ddc69","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.termostat"],"data":"{\"temperature\":\"payload\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":1320,"wires":[[]]},{"id":"15b8df36a77be6d3","type":"api-current-state","z":"3f4850b460751c06","name":"Кто-то из нас дома?","server":"d1cf8bd60e4ddc69","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.family","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":360,"y":1320,"wires":[["bbe09e64a4f914de"],[]]},{"id":"3f2244d7894d1e98","type":"api-current-state","z":"3f4850b460751c06","name":"отопление день","server":"d1cf8bd60e4ddc69","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.otoplenie_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":820,"y":1400,"wires":[["653e04d91086cd8a"]]},{"id":"653e04d91086cd8a","type":"function","z":"3f4850b460751c06","name":"Установить температуру","func":"// Передаем температуру в службу установки температуры\nmsg.payload = {\n    domain: \"climate\",\n    service: \"set_temperature\",\n    data: {\n        entity_id: \"climate.otoplenie\",\n        temperature: parseFloat(msg.payload)\n    }\n};\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":1400,"wires":[["59cf0f3d998fb7a0"]]},{"id":"59cf0f3d998fb7a0","type":"api-call-service","z":"3f4850b460751c06","name":"Температура день","server":"d1cf8bd60e4ddc69","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.termostat"],"data":"{\"temperature\":\"payload\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1250,"y":1400,"wires":[[]]},{"id":"80d680e0c4fda94b","type":"api-current-state","z":"3f4850b460751c06","name":"отопление ночь","server":"d1cf8bd60e4ddc69","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.otoplenie_noch","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":240,"y":1640,"wires":[["e7c258fe1e88454b"]]},{"id":"e7c258fe1e88454b","type":"function","z":"3f4850b460751c06","name":"Установить температуру","func":"// Передаем температуру в службу установки температуры\nmsg.payload = {\n    domain: \"climate\",\n    service: \"set_temperature\",\n    data: {\n        entity_id: \"climate.otoplenie\",\n        temperature: parseFloat(msg.payload)\n    }\n};\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1640,"wires":[["36a7a94ca35a9f2d"]]},{"id":"36a7a94ca35a9f2d","type":"api-call-service","z":"3f4850b460751c06","name":"Температура ночь","server":"d1cf8bd60e4ddc69","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.termostat"],"data":"{\"temperature\":\"payload\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":1640,"wires":[[]]},{"id":"d393e491a02eb457","type":"api-current-state","z":"3f4850b460751c06","name":"отопление день","server":"d1cf8bd60e4ddc69","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.otoplenie_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":300,"y":1760,"wires":[["de1970e01e17bfc3"]]},{"id":"de1970e01e17bfc3","type":"function","z":"3f4850b460751c06","name":"Установить температуру","func":"// Передаем температуру в службу установки температуры\nmsg.payload = {\n    domain: \"climate\",\n    service: \"set_temperature\",\n    data: {\n        entity_id: \"climate.otoplenie\",\n        temperature: parseFloat(msg.payload)\n    }\n};\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1760,"wires":[["2fc63099b96ff569"]]},{"id":"2fc63099b96ff569","type":"api-call-service","z":"3f4850b460751c06","name":"Температура день","server":"d1cf8bd60e4ddc69","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.termostat"],"data":"{\"temperature\":\"payload\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":1760,"wires":[[]]},{"id":"784b436ca21ce364","type":"api-current-state","z":"3f4850b460751c06","name":"отопление никого","server":"d1cf8bd60e4ddc69","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.otoplenie_vse_ushli","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":310,"y":1800,"wires":[["0bdc0d9baed94bb3"]]},{"id":"0bdc0d9baed94bb3","type":"function","z":"3f4850b460751c06","name":"Установить температуру","func":"// Передаем температуру в службу установки температуры\nmsg.payload = {\n    domain: \"climate\",\n    service: \"set_temperature\",\n    data: {\n        entity_id: \"climate.otoplenie\",\n        temperature: parseFloat(msg.payload)\n    }\n};\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1800,"wires":[["2bcd2424d3a3348f"]]},{"id":"2bcd2424d3a3348f","type":"api-call-service","z":"3f4850b460751c06","name":"Температура никого","server":"d1cf8bd60e4ddc69","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.termostat"],"data":"{\"temperature\":\"payload\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":1800,"wires":[[]]},{"id":"8d474dd878c873ca","type":"server-state-changed","z":"3f4850b460751c06","name":"Отопление день","server":"d1cf8bd60e4ddc69","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"input_number.otoplenie_day","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":1980,"wires":[["8812a681faf01b3f"]]},{"id":"8812a681faf01b3f","type":"api-current-state","z":"3f4850b460751c06","name":"Сон вкл","server":"d1cf8bd60e4ddc69","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.rezhim_son","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":280,"y":1980,"wires":[[],["a3700b7bc58afc87"]]},{"id":"a3700b7bc58afc87","type":"api-current-state","z":"3f4850b460751c06","name":"отопление день","server":"d1cf8bd60e4ddc69","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.otoplenie_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":460,"y":1980,"wires":[["1222373017a537fa"]]},{"id":"1222373017a537fa","type":"function","z":"3f4850b460751c06","name":"Установить температуру","func":"// Передаем температуру в службу установки температуры\nmsg.payload = {\n    domain: \"climate\",\n    service: \"set_temperature\",\n    data: {\n        entity_id: \"climate.otoplenie\",\n        temperature: parseFloat(msg.payload)\n    }\n};\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":1980,"wires":[["d714590a36f2fbfa"]]},{"id":"d714590a36f2fbfa","type":"api-call-service","z":"3f4850b460751c06","name":"Температура день","server":"d1cf8bd60e4ddc69","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.termostat"],"data":"{\"temperature\":\"payload\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":1980,"wires":[[]]},{"id":"0879ef3272134a8e","type":"comment","z":"3f4850b460751c06","name":"Интерфейс","info":"","x":90,"y":1940,"wires":[]},{"id":"87f98794b61da31d","type":"server-state-changed","z":"3f4850b460751c06","name":"Комната температура","server":"d1cf8bd60e4ddc69","version":5,"outputs":2,"exposeAsEntityConfig":"8456f6b694f4115e","entityId":"sensor.temperatura_i_vlazhnost_komnata_temperature","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"26.8","ifStateType":"num","ifStateOperator":"lte","outputOnlyOnStateChange":true,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":1220,"wires":[["1da1595a9ea2267e"],[]]},{"id":"3b95578afef77418","type":"ha-time","z":"3f4850b460751c06","name":"Отопление рабочий день","server":"d1cf8bd60e4ddc69","version":3,"exposeAsEntityConfig":"3c43ec147793471d","entityId":"input_datetime.otoplenie_den_rab","property":"state","offset":"0","offsetType":"num","offsetUnits":"minutes","randomOffset":false,"repeatDaily":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"sunday":true,"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"x":130,"y":1400,"wires":[["0e6bae091526707b"]]},{"id":"34a6b2bbfaca0df6","type":"ha-time","z":"3f4850b460751c06","name":"Отопление выходной день","server":"d1cf8bd60e4ddc69","version":3,"exposeAsEntityConfig":"3c43ec147793471d","entityId":"input_datetime.otoplenie_den_vykhodnoi_den","property":"state","offset":"0","offsetType":"num","offsetUnits":"minutes","randomOffset":false,"repeatDaily":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"sunday":true,"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"x":140,"y":1460,"wires":[["49d5012033f37163"]]},{"id":"a5b7c4a905b9d51c","type":"ha-time","z":"3f4850b460751c06","name":"Отопление Ночь","server":"d1cf8bd60e4ddc69","version":3,"exposeAsEntityConfig":"79c235eb1eaa2d4a","entityId":"input_datetime.otoplenie_noch","property":"state","offset":"0","offsetType":"num","offsetUnits":"minutes","randomOffset":false,"repeatDaily":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"sunday":true,"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"x":100,"y":1600,"wires":[["80d680e0c4fda94b"]]},{"id":"49d5012033f37163","type":"api-current-state","z":"3f4850b460751c06","name":"Кто-то из нас дома?","server":"d1cf8bd60e4ddc69","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.family","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":380,"y":1460,"wires":[["286715222d742e6e"],[]]},{"id":"286715222d742e6e","type":"api-current-state","z":"3f4850b460751c06","name":"Рабочий день?","server":"d1cf8bd60e4ddc69","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.workday_sensor","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":580,"y":1460,"wires":[[],["3f2244d7894d1e98"]]},{"id":"5ea99cefa3b3f388","type":"server-state-changed","z":"3f4850b460751c06","name":"Сон выкл","server":"d1cf8bd60e4ddc69","version":5,"outputs":2,"exposeAsEntityConfig":"3c43ec147793471d","entityId":"input_boolean.rezhim_son","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":1500,"wires":[["0e6bae091526707b","49d5012033f37163"],[]]},{"id":"4990aedbf6e890fb","type":"server-state-changed","z":"3f4850b460751c06","name":"Амина на работе","server":"d1cf8bd60e4ddc69","version":5,"outputs":2,"exposeAsEntityConfig":"421182953b4d056e","entityId":"person.amina","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"5 звёзд","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":1880,"wires":[["6478369fd75abe54"],[]]},{"id":"6478369fd75abe54","type":"ha-wait-until","z":"3f4850b460751c06","name":"Амина ушла с работы","server":"d1cf8bd60e4ddc69","version":2,"outputs":1,"entityId":"person.amina","entityIdFilterType":"exact","property":"state","comparator":"is","value":"not_home","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":320,"y":1880,"wires":[["d393e491a02eb457"]]},{"id":"d1cf8bd60e4ddc69","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":": ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"default","statusTimeFormat":"h:m","enableGlobalContextStore":false},{"id":"3c43ec147793471d","type":"ha-entity-config","server":"d1cf8bd60e4ddc69","deviceConfig":"","name":"nr_climate_temp_utr","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"nr_climate_temp_utr"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"switch"}],"resend":false,"debugEnabled":false},{"id":"8ba7e83daed5dc46","type":"ha-entity-config","server":"d1cf8bd60e4ddc69","deviceConfig":"","name":"nr_climate_temp_leave","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"nr_temp_leave"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"switch"}],"resend":false,"debugEnabled":false},{"id":"79c235eb1eaa2d4a","type":"ha-entity-config","server":"d1cf8bd60e4ddc69","deviceConfig":"","name":"nr_climate_temp_son","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"nr_climate_temp_son"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"switch"}],"resend":false,"debugEnabled":false},{"id":"8456f6b694f4115e","type":"ha-entity-config","server":"d1cf8bd60e4ddc69","deviceConfig":"","name":"nr_climate_otoplenie","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"nr_climate_otoplenie"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"switch"}],"resend":false,"debugEnabled":false},{"id":"421182953b4d056e","type":"ha-entity-config","server":"d1cf8bd60e4ddc69","deviceConfig":"","name":"nr_tg_shoplist","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"nr_tg_shoplist"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"switch"}],"resend":false,"debugEnabled":false}]
