Software/climate/Humidifier
[{"id":"6846c84cca87183b","type":"comment","z":"3f4850b460751c06","name":"Система увлажнения","info":"","x":120,"y":880,"wires":[]},{"id":"7fb91b8702aefbbf","type":"api-current-state","z":"3f4850b460751c06","name":"окно","server":"d1cf8bd60e4ddc69","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.okno_contact","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"window","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":770,"y":1060,"wires":[["0d94940deb8949c9"]]},{"id":"48d31034d4dfaa05","type":"api-current-state","z":"3f4850b460751c06","name":"Влажность комната","server":"d1cf8bd60e4ddc69","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.temperatura_i_vlazhnost_komnata_humidity","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"humidity","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":820,"y":1000,"wires":[["7fb91b8702aefbbf"]]},{"id":"8014e0b6eb8aef2c","type":"api-current-state","z":"3f4850b460751c06","name":"Кто-то из нас дома?","server":"d1cf8bd60e4ddc69","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.family","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"home","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":820,"y":940,"wires":[["48d31034d4dfaa05"]]},{"id":"99413527b1dcc84c","type":"api-current-state","z":"3f4850b460751c06","name":"Влажность максимум","server":"d1cf8bd60e4ddc69","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.vlazhnost_maksimum","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"h_max","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":540,"y":940,"wires":[["86d4e7b5342d180b"]]},{"id":"86d4e7b5342d180b","type":"api-current-state","z":"3f4850b460751c06","name":"Влажность мин","server":"d1cf8bd60e4ddc69","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.vlazhnost_minimum","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"h_min","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":1000,"wires":[["a6bce4449ddf1aaa"]]},{"id":"a6bce4449ddf1aaa","type":"api-current-state","z":"3f4850b460751c06","name":"Влажность мин никого","server":"d1cf8bd60e4ddc69","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.vlazhnost_minimum_nikogo","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"h_min_not_home","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":530,"y":1060,"wires":[["8014e0b6eb8aef2c"]]},{"id":"10825e55ef2704e4","type":"server-state-changed","z":"3f4850b460751c06","name":"Окно открыто","server":"d1cf8bd60e4ddc69","version":5,"outputs":1,"exposeAsEntityConfig":"24ac44abd6d5dc7c","entityId":"binary_sensor.okno_contact","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":940,"wires":[["af667334d6202327"]]},{"id":"34d642d37a6cc370","type":"server-state-changed","z":"3f4850b460751c06","name":"Кто-то из нас дома","server":"d1cf8bd60e4ddc69","version":5,"outputs":1,"exposeAsEntityConfig":"24ac44abd6d5dc7c","entityId":"group.family","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":1060,"wires":[["af667334d6202327"]]},{"id":"60c62033a4e79ca4","type":"server-state-changed","z":"3f4850b460751c06","name":"Комната влажность","server":"d1cf8bd60e4ddc69","version":5,"outputs":1,"exposeAsEntityConfig":"24ac44abd6d5dc7c","entityId":"sensor.temperatura_i_vlazhnost_komnata_humidity","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":1000,"wires":[["af667334d6202327"]]},{"id":"3823d6507d191b26","type":"switch","z":"3f4850b460751c06","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Вкл","vt":"str"},{"t":"eq","v":"Выкл","vt":"str"},{"t":"eq","v":"Level1","vt":"str"},{"t":"eq","v":"Level2","vt":"str"},{"t":"eq","v":"Level3","vt":"str"},{"t":"eq","v":"Мало воды","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":1270,"y":1020,"wires":[["1657ce4db7bd0d8b"],["ee14823a49a4fdc9"],["353d3f25d1e7bfd5"],["8d13c3e6f02ad4bf"],["e0daa1307213b8fc"],[]]},{"id":"ee14823a49a4fdc9","type":"api-call-service","z":"3f4850b460751c06","name":"Увлажнитель выкл","server":"d1cf8bd60e4ddc69","version":5,"debugenabled":false,"domain":"humidifier","service":"turn_off","areaId":["gostinaia"],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1510,"y":920,"wires":[[]]},{"id":"353d3f25d1e7bfd5","type":"api-call-service","z":"3f4850b460751c06","name":"Увлажнитель скорость 1","server":"d1cf8bd60e4ddc69","version":5,"debugenabled":false,"domain":"humidifier","service":"set_mode","areaId":["gostinaia"],"deviceId":[],"entityId":[],"data":"{\"mode\":\"Level1\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1530,"y":980,"wires":[[]]},{"id":"8d13c3e6f02ad4bf","type":"api-call-service","z":"3f4850b460751c06","name":"Увлажнитель скорость 2","server":"d1cf8bd60e4ddc69","version":5,"debugenabled":false,"domain":"humidifier","service":"set_mode","areaId":["gostinaia"],"deviceId":[],"entityId":[],"data":"{\"mode\":\"Level2\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1530,"y":1040,"wires":[[]]},{"id":"e0daa1307213b8fc","type":"api-call-service","z":"3f4850b460751c06","name":"Увлажнитель скорость 3","server":"d1cf8bd60e4ddc69","version":5,"debugenabled":false,"domain":"humidifier","service":"set_mode","areaId":["gostinaia"],"deviceId":[],"entityId":[],"data":"{\"mode\":\"Level3\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1530,"y":1100,"wires":[[]]},{"id":"1657ce4db7bd0d8b","type":"api-call-service","z":"3f4850b460751c06","name":"Увлажнитель вкл","server":"d1cf8bd60e4ddc69","version":5,"debugenabled":false,"domain":"humidifier","service":"turn_on","areaId":["gostinaia"],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1510,"y":860,"wires":[[]]},{"id":"14566ca3bdc43e82","type":"api-current-state","z":"3f4850b460751c06","name":"Увлажнитель","server":"d1cf8bd60e4ddc69","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"humidifier.zhimi_cb1_7ae3_humidifier","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"uvl","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1080,"y":920,"wires":[["733279351940032c"]]},{"id":"af667334d6202327","type":"api-current-state","z":"3f4850b460751c06","name":"Уровень воды","server":"d1cf8bd60e4ddc69","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.water_level_percentage","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"water_level","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":940,"wires":[["99413527b1dcc84c"]]},{"id":"5fb82f13664bdc14","type":"api-current-state","z":"3f4850b460751c06","name":"Сон","server":"d1cf8bd60e4ddc69","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.rezhim_son","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"son","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":770,"y":1120,"wires":[["14566ca3bdc43e82"]]},{"id":"01fe8efce9db6b40","type":"function","z":"3f4850b460751c06","name":"function 10","func":"const reason = msg.reason || \"\"; // Получаем значение reason из сообщения, если оно существует\nmsg.payload = reason; // Присваиваем значению reason в поле payload для передачи в MQTT\nreturn msg; // Возвращаем обновленное сообщение\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":1040,"wires":[["7e7c9e1f952094c4"]]},{"id":"733279351940032c","type":"function","z":"3f4850b460751c06","name":"function 9","func":"const currentHumidity = parseFloat(msg.humidity);\nconst maxHumidity = parseFloat(msg.h_max);\nconst minHumidity = parseFloat(msg.h_min);\nconst minHumidityNoHome = parseFloat(msg.h_min_not_home);\nconst waterLevel = parseInt(msg.water_level);\nconst isHome = msg.home === \"home\";\nconst isSleepMode = msg.son === \"on\";\nconst isWindowOpen = msg.window === \"on\";\nconst isWindow1Open = msg.window1 === \"on\"; // Добавляем проверку для второго окна\nconst currentState = msg.data.state; // Текущее состояние увлажнителя (включен/выключен)\nconst isWorkday = msg.workday === \"on\";\nconst currentTime = msg.time;\nconst criticalLowHumidity = 30; // Порог критически низкой влажности\n\nlet desiredState = \"Выкл\";\nlet reason = \"\";\nlet needToTurnOn = false;\n\nif (waterLevel < 10) {\n    desiredState = \"Мало воды\";\n    reason = \"Уровень воды ниже 10%\";\n} else if (isWindowOpen || isWindow1Open) { // Проверяем состояние обоих окон\n    desiredState = \"Выкл\";\n    reason = \"Одно из окон открыто\";\n} else if (isSleepMode && currentHumidity < criticalLowHumidity) {\n    desiredState = \"Level1\";\n    reason = \"Режим сна активирован, но влажность ниже критической\";\n    needToTurnOn = true;\n} else if (isSleepMode) {\n    desiredState = \"Выкл\";\n    reason = \"Режим сна активирован\";\n} else if (!isHome && currentHumidity < minHumidityNoHome) {\n    desiredState = \"Level1\";\n    reason = \"Никого нет дома, влажность ниже минимальной\";\n    needToTurnOn = true;\n} else if (!isHome) {\n    desiredState = \"Выкл\";\n    reason = \"Никого нет дома\";\n} else if (currentHumidity < minHumidity) {\n    desiredState = \"Level3\";\n    reason = \"Текущая влажность ниже минимальной\";\n    needToTurnOn = true;\n} else if (currentHumidity < maxHumidity) {\n    if (waterLevel > 30) {\n        desiredState = \"Level2\";\n        reason = \"Нормальный режим работы\";\n    } else {\n        desiredState = \"Level1\";\n        reason = \"Экономия воды\";\n    }\n    needToTurnOn = true;\n} else {\n    desiredState = \"Выкл\";\n    reason = \"Влажность достигла максимального порога\";\n}\n\n// Включаем увлажнитель, если он неактивен и требуется изменить режим работы, и оба окна закрыты\nif (needToTurnOn && currentState === \"off\" && !isWindowOpen && !isWindow1Open) {\n    desiredState = \"Вкл\";\n}\n\nmsg.payload = desiredState;\nmsg.reason = reason;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":980,"wires":[["3823d6507d191b26","01fe8efce9db6b40"]]},{"id":"7e7c9e1f952094c4","type":"mqtt out","z":"3f4850b460751c06","name":"","topic":"Humidifier/reason","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"05243882f0f347ef","x":1110,"y":1120,"wires":[]},{"id":"0d94940deb8949c9","type":"api-current-state","z":"3f4850b460751c06","name":"Балкон","server":"d1cf8bd60e4ddc69","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.balkonnaia_dver_contact","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"window1","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":900,"y":1060,"wires":[["5fb82f13664bdc14"]]},{"id":"d1cf8bd60e4ddc69","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":": ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"default","statusTimeFormat":"h:m","enableGlobalContextStore":false},{"id":"24ac44abd6d5dc7c","type":"ha-entity-config","server":"d1cf8bd60e4ddc69","deviceConfig":"","name":"nr_climate_uvl","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"nr_climate_uvl"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"switch"}],"resend":false,"debugEnabled":false},{"id":"05243882f0f347ef","type":"mqtt-broker","name":"","broker":"core-mosquitto","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"3","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]
