Software/climate/vent
[{"id":"720c992b9e73f23b","type":"api-current-state","z":"3f4850b460751c06","name":"Таймер вытяжки","server":"d1cf8bd60e4ddc69","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.vytiazhka_na_kukhne_minuty","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"delay","propertyType":"msg","value":"$number($entity().state) * 60000","valueType":"jsonata"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"inputState","override_payload":"msg","entity_location":"","override_data":"none","x":450,"y":760,"wires":[["7ff7d4534312e450"]]},{"id":"7ff7d4534312e450","type":"delay","z":"3f4850b460751c06","name":"","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":630,"y":760,"wires":[["3c3775c0d0256c06"]]},{"id":"e569581e7d93c46f","type":"server-state-changed","z":"3f4850b460751c06","name":"Вытяжка вкл","server":"d1cf8bd60e4ddc69","version":5,"outputs":2,"exposeAsEntityConfig":"aa0f802fc40a6169","entityId":"fan.vytiazhka_na_kukhne","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":760,"wires":[["3df26b6203883f81"],[]]},{"id":"3df26b6203883f81","type":"api-current-state","z":"3f4850b460751c06","name":"влажность","server":"d1cf8bd60e4ddc69","version":3,"outputs":2,"halt_if":"50","halt_if_type":"num","halt_if_compare":"lte","entity_id":"sensor.temperatura_i_vlazhnost_vannaia_humidity","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":250,"y":760,"wires":[["720c992b9e73f23b"],["36296d63e4ea0553"]]},{"id":"36296d63e4ea0553","type":"ha-wait-until","z":"3f4850b460751c06","name":"","server":"d1cf8bd60e4ddc69","version":2,"outputs":1,"entityId":"sensor.temperatura_i_vlazhnost_vannaia_humidity","entityIdFilterType":"exact","property":"state","comparator":"lte","value":"50","valueType":"num","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":420,"y":820,"wires":[["3c3775c0d0256c06"]]},{"id":"3c3775c0d0256c06","type":"api-call-service","z":"3f4850b460751c06","name":"выкл","server":"d1cf8bd60e4ddc69","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.sonoff_1001f9f912"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":850,"y":760,"wires":[[]]},{"id":"933f60a5d3395cd1","type":"comment","z":"3f4850b460751c06","name":"Выключение вытяжки на кухне","info":"","x":150,"y":720,"wires":[]},{"id":"3d3a348171dda8d1","type":"server-state-changed","z":"3f4850b460751c06","name":"Кухня влажность","server":"d1cf8bd60e4ddc69","version":5,"outputs":2,"exposeAsEntityConfig":"feabdc12319535c3","entityId":"sensor.temperatura_i_vlazhnost_kukhnia_humidity","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"40","ifStateType":"num","ifStateOperator":"gte","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"hum","propertyType":"msg","value":"","valueType":"entityState"}],"x":100,"y":660,"wires":[["3350d5770d2056c4"],[]]},{"id":"154b8c67af3d59b2","type":"api-call-service","z":"3f4850b460751c06","name":"Вытяжка вкл","server":"d1cf8bd60e4ddc69","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["fan.vytiazhka_na_kukhne"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":660,"wires":[[]]},{"id":"a4c6d49cfd091826","type":"comment","z":"3f4850b460751c06","name":"Включение вытяжки на кухне во время готовки","info":"","x":200,"y":620,"wires":[]},{"id":"3350d5770d2056c4","type":"api-current-state","z":"3f4850b460751c06","name":"Порог включения вытяжки","server":"d1cf8bd60e4ddc69","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.vlazhnost_dlia_vytiazhki_na_kukhne","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"porog","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":660,"wires":[["f43538a559f58435"]]},{"id":"f43538a559f58435","type":"function","z":"3f4850b460751c06","name":"function 24","func":"// Получаем текущую влажность и пороговое значение из сообщения\nconst currentHumidity = parseFloat(msg.hum);\nconst threshold = parseFloat(msg.porog);\n\n// Сравниваем текущую влажность с пороговым значением\nif(currentHumidity >= threshold) {\n    // Если влажность достигла или превысила порог, передаем сообщение дальше\n    return msg;\n} else {\n    // Если влажность ниже порога, вы можете остановить поток или добавить логику для выключения вытяжки\n    // В этом примере ничего не передаем дальше, останавливая поток\n    return null;\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":660,"wires":[["154b8c67af3d59b2"]]},{"id":"5e7da9ce70310698","type":"server-state-changed","z":"3f4850b460751c06","name":"Балконная дверь открыта","server":"d1cf8bd60e4ddc69","version":5,"outputs":2,"exposeAsEntityConfig":"e4b8ea9cf9d8833e","entityId":"binary_sensor.balkonnaia_dver_contact","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":560,"wires":[["1a06c5026f179649"],[]]},{"id":"1a06c5026f179649","type":"api-call-service","z":"3f4850b460751c06","name":"Вытяжка вкл","server":"d1cf8bd60e4ddc69","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.sonoff_1001f9f912"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":350,"y":560,"wires":[[]]},{"id":"78b0d85a3bbcdb13","type":"comment","z":"3f4850b460751c06","name":"Проветривание кухня","info":"","x":120,"y":520,"wires":[]},{"id":"d1cf8bd60e4ddc69","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":": ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"default","statusTimeFormat":"h:m","enableGlobalContextStore":false},{"id":"aa0f802fc40a6169","type":"ha-entity-config","server":"d1cf8bd60e4ddc69","deviceConfig":"","name":"nr_climate_vytoffkuh","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"nr_climate_vytoffkuh"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"switch"}],"resend":false,"debugEnabled":false},{"id":"feabdc12319535c3","type":"ha-entity-config","server":"d1cf8bd60e4ddc69","deviceConfig":"","name":"nr_climate_gotovka","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"nr_climate_gotovka"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"switch"}],"resend":false,"debugEnabled":false},{"id":"e4b8ea9cf9d8833e","type":"ha-entity-config","server":"d1cf8bd60e4ddc69","deviceConfig":"","name":"nr_climate_okno","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"nr_climate_okno"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false}]
