Software/notify/tg/shopist
[
    {
        "id": "fa15488628ff655b",
        "type": "server-state-changed",
        "z": "cd5dfc2c408d8b02",
        "name": "Изменение списка покупок",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "421182953b4d056e",
        "entityId": "todo.shopping_list",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 140,
        "y": 140,
        "wires": [
            [
                "3b67f9cd7b92075e"
            ]
        ]
    },
    {
        "id": "b83661780ea033ee",
        "type": "comment",
        "z": "cd5dfc2c408d8b02",
        "name": "Список покупок",
        "info": "",
        "x": 100,
        "y": 80,
        "wires": []
    },
    {
        "id": "04bb5fc930324545",
        "type": "api-call-service",
        "z": "cd5dfc2c408d8b02",
        "name": "Телега",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "chat_tg",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"{{payload}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 600,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "1b6caa4058e34ee1",
        "type": "file in",
        "z": "cd5dfc2c408d8b02",
        "name": "Список",
        "filename": "/homeassistant/.shopping_list.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 600,
        "y": 200,
        "wires": [
            [
                "6240093f566bf86c"
            ]
        ]
    },
    {
        "id": "6240093f566bf86c",
        "type": "function",
        "z": "cd5dfc2c408d8b02",
        "name": "Формирование сообщения",
        "func": "var shoppingList = JSON.parse(msg.payload);\nvar message = \"Ваш список покупок: \" + shoppingList.map(item => item.name).join(', ');\n\nmsg.payload = message;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 240,
        "wires": [
            [
                "04bb5fc930324545"
            ]
        ]
    },
    {
        "id": "3e0e23fe6fa160f9",
        "type": "comment",
        "z": "cd5dfc2c408d8b02",
        "name": "Уведомления в телегу",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "b0938e1b3a7f90a8",
        "type": "delay",
        "z": "cd5dfc2c408d8b02",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 360,
        "y": 140,
        "wires": [
            [
                "933b82bb18def2c1"
            ]
        ]
    },
    {
        "id": "933b82bb18def2c1",
        "type": "api-current-state",
        "z": "cd5dfc2c408d8b02",
        "name": "покупки",
        "server": "d1cf8bd60e4ddc69",
        "version": 3,
        "outputs": 2,
        "halt_if": "0",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "todo.shopping_list",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 600,
        "y": 140,
        "wires": [
            [
                "1b6caa4058e34ee1"
            ],
            []
        ]
    },
    {
        "id": "3b67f9cd7b92075e",
        "type": "change",
        "z": "cd5dfc2c408d8b02",
        "name": "Сброс",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 100,
        "wires": [
            [
                "b0938e1b3a7f90a8"
            ]
        ]
    },
    {
        "id": "20c650a34678bebb",
        "type": "server-state-changed",
        "z": "cd5dfc2c408d8b02",
        "name": "Амина на работе",
        "server": "d1cf8bd60e4ddc69",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "421182953b4d056e",
        "entityId": "person.amina",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "5 звёзд",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 200,
        "wires": [
            [
                "3a052eb9218ce2fb"
            ],
            []
        ]
    },
    {
        "id": "3a052eb9218ce2fb",
        "type": "ha-wait-until",
        "z": "cd5dfc2c408d8b02",
        "name": "Амина ушла с работы",
        "server": "d1cf8bd60e4ddc69",
        "version": 2,
        "outputs": 1,
        "entityId": "person.amina",
        "entityIdFilterType": "exact",
        "property": "state",
        "comparator": "is",
        "value": "not_home",
        "valueType": "str",
        "timeout": "0",
        "timeoutType": "num",
        "timeoutUnits": "seconds",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "outputProperties": [],
        "entityLocation": "data",
        "entityLocationType": "none",
        "x": 360,
        "y": 200,
        "wires": [
            [
                "933b82bb18def2c1"
            ]
        ]
    },
    {
        "id": "d1cf8bd60e4ddc69",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    },
    {
        "id": "421182953b4d056e",
        "type": "ha-entity-config",
        "server": "d1cf8bd60e4ddc69",
        "deviceConfig": "",
        "name": "nr_tg_shoplist",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            {
                "property": "name",
                "value": "nr_tg_shoplist"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "switch"
            }
        ],
        "resend": false,
        "debugEnabled": false
    }
]
